<div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
>
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1
        class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
      >
        About Us
      </h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
        Welcome to our bookstore, where books are more than just words on a page
        – they are a gateway to new worlds, new perspectives, and new ideas. Our
        bookstore was founded with a passion for literature and a commitment to
        fostering a love of reading in our community. We believe that books have
        the power to educate, entertain, and inspire, and we strive to provide
        our customers with a wide selection of titles that reflect this belief.
        Our shelves are stocked with books in every genre, from beloved classics
        to the latest bestsellers, from nonfiction to children's books.
      </p>
    </div>
    <div class="w-full lg:w-8/12">
      <img
        class="w-full h-full"
        src="https://i.ibb.co/FhgPJt8/Rectangle-116.png"
        alt="A group of People"
      />
    </div>
  </div>

  <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1
        class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
      >
        Our Story
      </h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
        Our bookstore was founded with a love of reading and a desire to share
        that passion with others. The idea for our store came about when a group
        of friends realized there was no local bookstore in their community, and
        they decided to take matters into their own hands. The founding team
        scoured the city for a location and eventually found the perfect spot,
        an old building with character and history. They spent months renovating
        the space, creating a warm and inviting atmosphere that would make
        customers feel right at home. The team carefully curated the selection
        of books, focusing on titles that would appeal to a wide range of
        readers.
      </p>
    </div>
    <div class="w-full lg:w-8/12 lg:pt-8">
      <div
        class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md"
      >
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="https://i.ibb.co/FYTKDG6/Rectangle-118-2.png"
            alt="Alexa featured Image"
          />
          <img
            class="md:hidden block"
            src="https://i.ibb.co/zHjXqg4/Rectangle-118.png"
            alt="Alexa featured Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Alexa
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="https://i.ibb.co/fGmxhVy/Rectangle-119.png"
            alt="Olivia featured Image"
          />
          <img
            class="md:hidden block"
            src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png"
            alt="Olivia featured Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Olivia
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="https://i.ibb.co/Pc6XVVC/Rectangle-120.png"
            alt="Liam featued Image"
          />
          <img
            class="md:hidden block"
            src="https://i.ibb.co/C5MMBcs/Rectangle-120.png"
            alt="Liam featued Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Liam
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="https://i.ibb.co/7nSJPXQ/Rectangle-121.png"
            alt="Elijah featured image"
          />
          <img
            class="md:hidden block"
            src="https://i.ibb.co/ThZBWxH/Rectangle-121.png"
            alt="Elijah featured image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Elijah
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
